
        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/newpost" style="display:inline-block;">
                    <input type="hidden" name="post-id" value="{{post.id}}" />
                    <input type="submit" value="Post Entry" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    <h2>Blog Posts</h2>

    <ul>
        {% for post in completed_posts %}
        <li>{{post.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}