{% extends "base.html" %}

{% block content %}
    <h1>Add Blog Entry</h1>
    <br>


    <form method='POST'>
        <label>Title:
            <br>
            <input type="text" name='blog_title' id="blog_title" value="{{blog_title}}" />
        </label>
        <br>
        <span class="error">{{title_error}}</span>
        <br>
        <label>Blog Entry:
            <br>
            <textarea id="blog_body" type="text" name='blog_body' value="{{blog_body}}"></textarea>
        </label>
        <br>
        <span class="error">{{body_error}}</span>
        <br>
        <input type="submit" value='Add Entry'>
    </form>

{% endblock %} 